<!-- CSS style -->
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.9.2.custom.min.css" />
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="friend_autocomplete/facebook-friend-autocomplete.js"></script>
<script src="/js/fb-parse.js" type="text/javascript"></script>
<link rel="stylesheet" href="friend_autocomplete/facebook-friend-autocomplete.css" />

<div class="add-user">
  <h1>Jomblo Perak</h1>

  <div class="content">

    <form action="/" method="post">

      <label for="name">Nama</label>
      <div id="friend-placeholder" class="friend-placeholder"></div>
      <div id="name-div" class="name-div">
        <input id="name-input" type="text" name="name" autocomplete="off" />
      </div>

      <label for="birth_date">Tanggal Lahir</label>
      <input class="date" name="birth_date" />

      <button class="add-user-button btn btn-success">Buat Countdown</button>

      <!-- Hidden inputs -->
      <div id="fb-hidden-inputs">
        <input type="hidden" id="fb-name" name="fb_name" value="" />
        <input type="hidden" id="fb-id" name="fb_id" value="" />
        <input type="hidden" id="fb-is-login" name="fb_is_login" value="" />
      </div>

      <!-- placeholder for login button -->
      <button id="login-logout-button" type="button" class="btn btn-primary">Fb Login</button>

    </form>
  </div>
</div>

<!-- --------------------------------------------------------------- -->
<!-- JS awesomeness here. Move along people. -->
<script>
  function onLogin() {
      var button = $("#login-logout-button")
      button.html("Fb Logout");
      button.click(function() {
        button.off('click');
        logout(onLogout, onLogin);
      });
      button.attr("class", "btn btn-danger");

      $("#name-input").facebookAutocomplete(function(friend) {
        $('#friend-placeholder').empty().append(createFriendElement(friend));
        $('#fb-id').val(friend.id);
        $('#fb-name').val(friend.name);
        $("#name-div").hide();
      });

      $('#fb-hidden-inputs').empty()
        .append($('<input>').attr('type', 'hidden').attr('id', 'fb-name').attr('name', 'fb_name'))
        .append($('<input>').attr('type', 'hidden').attr('id', 'fb-id').attr('name', 'fb_id'))
        .append($('<input>').attr('type', 'hidden').attr('name', 'fb_is_login').val('true'));
  }

  function onLogout() {
      var button = $("#login-logout-button")
      button.html("Fb Login");
      button.click(function() {
        button.off('click');
        login(onLogin, onLogout);
      });
      button.attr("class", "btn btn-primary");

      var nameInput = $('<input>').attr('type', 'text').attr('name', 'name').attr('id', 'name-input');
      $('#name-div').empty().append(nameInput);
      $('#friend-placeholder').empty();
      $('#fb-hidden-inputs').empty();
  }

  function createFriendElement(friend) {
    var $img = $('<img>').attr('src', friend.picture),
        $name = $('<h3>').text(friend.name),
        $friend = $('<div>').addClass('friend').attr('id', 'the-friend').append($img, $name);
    return $friend;
  }
</script>
<!-- --------------------------------------------------------------- -->

<script type="text/javascript">
  $('.date').datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: '-80:'
  });
</script>
