<link rel='stylesheet' type='text/css' href='/stylesheets/countdown_preview.css' />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' type='text/css' href='/stylesheets/countdown_circular.css' />
<script type="text/javascript" src="friend_autocomplete/facebook-friend-autocomplete.js"></script>
<link rel="stylesheet" href="friend_autocomplete/facebook-friend-autocomplete.css" />

<!-- Preview -->
<div class='show'>
	<div class='left-container'>
    <div class='countdown'></div>
	  <h2>Menjelang <%= name %> menyandang gelar 'Jomblo Perak'<h2>
	</div>

  <div class='right-container'>
    <div class='header'>
      <div class='profile'>
        <div class='profile-picture'>
          <img src='https://graph.facebook.com/<%= fbId %>/picture?width=80'>
        </div>

        <div class='user-name middle'><a href='https://facebook.com/<%= fbId %>'><%= name %></a></div>

        <div class='recommend-container'>
          <a href='#' class='btn btn-success middle' data-toggle='modal' data-target='#add-suggestion' onclick="maybeShowAutocomplete()">Comblangin!</a>
        </div>
      </div>

      <div class='cover-photo'>
        <img src='https://scontent-a.xx.fbcdn.net/hphotos-ash2/t1.0-9/525911_3530036328221_1982273980_n.jpg' height='350' id='cover-photo'>
      </div>
    </div>

    <div class='content' id='content'>
      <div class='content-card comments'>
        <div class='fb-comments' data-href='<%= baseUrl %>/<%= url %>' data-width='910' data-num-posts='10'></div>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' id='add-suggestion'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Comblangin teman kamu!</h4>
      </div>
      <div class='modal-body'>
        <form id='recommendation-form'>
          <div id="friend-placeholder" class="content friend-placeholder"></div>
          <div><input type='text' class='name' name='name' placeholder='Nama teman kamu' id="name-input"></div>
          <div><textarea class='description' name='description' placeholder='Mengapa kamu merekomendasikan dia?'></textarea></div>

          <div id="fb-rec-hidden-inputs"></div>
        </form>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' id='recommendation-submit'>Comblangin!</button>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='/js/jquery.circular-countdown.js'></script>
<script type='text/javascript' src='/js/mustache.js'></script>
<script id='recommendation-template' type='x-tmpl-mustache'>
  <div class='content-card' id='{{ id }}'>
    <div class='content'>
      <div class='content-top'>
        <div class='small-profile-picture'>
          <a href='https://facebook.com/{{ fbId }}'>
            <img src='https://graph.facebook.com/{{ fbId }}/picture?width=80'>
          </a>
        </div>
        <div class='right-content-top'>
          <h3><a href='https://facebook.com/{{ fbId }}'>{{ name }}</a></h3>
          <div class='description'>{{ description }}</div>
        </div>
        <div class='vote'>

        </div>
      </div>
      <div class='content-bottom'>
        <a href='#' class='button'>Upvote</a>
        <a href='#' class='button comment-button'>Comment</a>
        <a href='#' class='button'>Share</a>
      </div>
    </div>
    <div class='hidden comments-container'>
      <div class='comment-cards-container'>

      </div>
      <div class='comment-composer'>
        <textarea name="comment-message" placeholder="Tulis komentar..."></textarea>
      </div>
    </div>
  </div>
</script>
<script id='comment-template' type='x-tmpl-mustache'>
  <div class='comment-card'>
    <div class='comment-profile-picture'>
      <img src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c66.66.828.828/s160x160/424730_3810032087940_286295080_n.jpg'>
    </div>
    <div class='comment'>
      <span class='comment-author'>{{name}}</span>
      {{message}}
    </div>
  </div>
</script>
<script type='text/javascript'>
  var attachRecommendation = function(template, result) {
    // TODO: fetch FB profpic and name
    var data = {
      name: result.name,
      id: result.objectId,
      fbId: result.fbId,
      description: result.description
    }
    var rendered = Mustache.render(template, data);
    $('#content').prepend(rendered);
  };

  var attachComment = function(template, result, parent) {
    var data = {
      name: result.author.name,
      message: result.message
    }
    var rendered = Mustache.render(template, data);
    parent.append(rendered);
  };

  function onFbReady() {

    // Fetch cover photo
    FB.api('/<%= fbId %>?fields=cover', function(response) {
      $('#cover-photo').attr('src', response.cover.source);
    });

    // Get all recommendation
    $.ajax({
      method: 'get',
      url: '/suggestion/<%= id %>',
      success: function(results) {
        var ar = [];
        var ids = [];
        for(var i in results) {
            var obj = results[i];
            ar[obj['fbId']] = obj;
            ids.push(obj['fbId']);
        };

        FB.api('/?fields=name&ids='+ids.join(), function(response) {
          // Append rows with name field
          var friend, i, ref;
          ref = response;
          for (i = 0; i<ids.length; i++) {
            friend = ref[ids[i]];
            ar[friend.id].name = friend.name;
          }
          var newResults = [];
          for (var k in ar){
            if (ar.hasOwnProperty(k)) {
              newResults.push(ar[k]);
            }
          }

          // Bind model to template view
          var template = $('#recommendation-template').html();
          // Cache template
          Mustache.parse(template);
          for (var key in newResults) {
            if (newResults.hasOwnProperty(key)) {
              var result = newResults[key];
              attachRecommendation(template, result);
            }
          }
        });
      },
      error: function(err) {
        alert('gagal');
      }
    });
  }

	$(document).ready(function() {
    var diameter = 120;
		$('.countdown').circularCountdown({
			startDate:'<%= startDate %>',
			endDate:'<%= endDate %>',
			timeZone:+7,	//Time zone of New York. Find timezone of your location and write here.

			//Margin between circles
			margin:10,

			//Diameters
			dayDiameter:diameter,
			hourDiameter:diameter,
			minuteDiameter:diameter,
			secondDiameter:diameter,

			//Circle BG width
			dayBgWidth:17,
			hourBgWidth:17,
			minuteBgWidth:17,
			secondBgWidth:17,

			//Circle width
			dayCircleWidth:17,
			hourCircleWidth:17,
			minuteCircleWidth:17,
			secondCircleWidth:17,

			//Circle color
			dayCircleColor:'#ff6565',
			hourCircleColor:'#378cff',
			minuteCircleColor:'#9cdb7d',
			secondCircleColor:'#ffdc50',

			//Counter font size
			dayCounterFontSize:30,
			hourCounterFontSize:30,
			minuteCounterFontSize:30,
			secondCounterFontSize:30,

			//Text font size
			dayTextFontSize:12,
			hourTextFontSize:12,
			minuteTextFontSize:12,
			secondTextFontSize:12,

			//Counter font color
			dayCounterFontColor:'#4d4d4d',
			hourCounterFontColor:'#4d4d4d',
			minuteCounterFontColor:'#4d4d4d',
			secondCounterFontColor:'#4d4d4d',

			//Text font color
			dayTextFontColor:'#ff6565',
			hourTextFontColor:'#378cff',
			minuteTextFontColor:'#9cdb7d',
			secondTextFontColor:'#ffdc50'
		});

    $('#recommendation-submit').click(function() {
      var data = $('#recommendation-form').serialize();
      data += '&victimId=<%= id %>';
      $.ajax({
        method: 'post',
        url: '/suggestion',
        data: data,
        success: function(result) {
          var template = $('#recommendation-template').html();
          attachRecommendation(template, result);
        },
        error: function(error) {
          alert('gagal');
        }
      });

      $('#add-suggestion').modal('hide');
    });
	});

  $(document).on('click', '.comment-button', function() {
    var parent = $(this).parents('.content-card').first();
    var parentId = parent.attr('id');
    var commentContainer = parent.find('.comments-container');
    var commentCardContainer = parent.find('.comment-cards-container').first();
    commentContainer.toggleClass('hidden');
    if (!commentContainer.is('hidden')) {
      // Get all comment
      $.ajax({
        method: 'get',
        url: '/comment/' + parentId,
        success: function(results) {
          var template = $('#comment-template').html();
          // cache template
          Mustache.parse(template);
          for (var key in results) {
            var result = results[key];
            attachComment(template, result, commentCardContainer);
          }
        },
        error: function(err) {
          alert('gagal');
        }
      });
    }
  });

  $(document).on('keypress', '.comment-composer textarea', function(e) {
    if (e.which == 13) {
      var text = $(this).val();
      $(this).val('');
      e.preventDefault();

      var parent = $(this).parents('.content-card').first();
      var parentId = parent.attr('id');
      var commentCardContainer = parent.find('.comment-cards-container').first();

      var data = {
        message: text,
        suggestionId: parentId
      }
      $.ajax({
        method: 'post',
        url: '/comment',
        data: data,
        success: function(result) {
          var template = $('#comment-template').html();
          attachComment(template, result, commentCardContainer);
        },
        error: function(error) {
          alert('gagal');
        }
      });
    }
  });
</script>


<script>
  // Friends Autocomplete

  function onLogin() {
    showAutocomplete();
  }

  function onLogout() {
    hideAutocomplete();
  }

  function showAutocomplete() {
    $("#name-input").facebookAutocomplete(function(friend) {
      $('#friend-placeholder').empty().append(createFriendElement(friend));
      $('#fbid').val(friend.id);
      $('#name-input').hide();
    });
    $('#friend-placeholder').empty();
    $('#fb-rec-hidden-inputs').empty()
      .append($('<input>').attr('type', 'hidden').attr('id', 'fbid').attr('name', 'fbid'));
  }

  function hideAutocomplete() {
      var nameInput = $('<input>').attr('type', 'text').attr('name', 'name').attr('placeholder', 'Nama teman kamu').attr('id', 'name-input');
      $('#name-input').replaceWith(nameInput);
      $('#friend-placeholder').empty();
      $('#fb-rec-hidden-inputs').empty();
  }

  function maybeShowAutocomplete() {
    if (Parse.User.current()) {
      showAutocomplete();
    } else {
      hideAutocomplete();
    }
  }

  function createFriendElement(friend) {
    var $img = $('<img>').attr('src', friend.picture),
        $name = $('<h3>').text(friend.name),
        $friend = $('<div>').addClass('friend').attr('id', 'the-friend').append($img, $name);
    return $friend;
  }
</script>
