<!DOCTYPE html>
 
<html>
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' media="screen" />
    <link rel='stylesheet' href='/stylesheets/mobile.css' media="handheld, only screen and (max-device-width:480px)" />
    <link rel='icon' href='/images/logo.png' type='image/png' />
    <script src="https://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
    <script src="/js/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="/js/underscore-min.js" type="text/javascript"></script>
    <script src="/js/backbone-min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Parse.initialize("<%= parseApplicationId %>", "<%= parseJavascriptKey %>");
    </script>

    <!-- Twitter bootstrap -->
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' media="screen" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- -->

    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Reinardus Surya Pradhitya">
    <meta name="author" content="Listiarso Wastuargo">
  </head>
  
  <body class="container">
    <div id="fb-root"></div>

    <div class="container">
      <% if (locals.errorFlash) { %>
        <div class="errorFlash"><%= errorFlash %></div>
      <% } %>
      
      <%- body %>
    </div>

    <script type="text/javascript">
      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
          appId      : '230514897145786', // Facebook App ID
          channelUrl : '//www.jombloperak.com', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow Parse to access the session
          xfbml      : true  // parse XFBML
        });

        if (Parse.User.current()) {
          if (window.onLogin) {
            onLogin();
          }
        } else {
          if (window.onLogout) {
            onLogout();
          }
        }
        
        if (window.onFbReady) {
          onFbReady();
        }
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= facebookApplicationId %>";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>

</html>
