<form action="/login" method="post" id="login">
  <h2>Log In</h2>
 
  <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="true" data-auto-logout-link="true"></div>
</form>
