<!-- CSS style -->
<link rel="stylesheet" type="text/css" href="/stylesheets/countdown/preview.css" />
<!-- Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600' rel='stylesheet' type='text/css'>
<!-- Circular Countdown CSS settings -->
<link rel="stylesheet" type="text/css" href="/stylesheets/countdown/circular-countdown.css" />
<!-- Circular Countdown JS -->
<script type="text/javascript" src="/js/countdown/jquery.circular-countdown.js"></script>

<!-- Create Circular Countdown Timer -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".countdown").circularCountdown({
			startDate:"2013/12/01 12:30:00",
			endDate:"2014/12/25 12:30:00",
			timeZone:-5,	//Time zone of New York. Find timezone of your location and write here.
			
			//Margin between circles
			margin:15,
			
			//Diameters
			dayDiameter:188,
			hourDiameter:188,
			minuteDiameter:188,
			secondDiameter:188,
			
			//Circle BG width
			dayBgWidth:17,
			hourBgWidth:17,
			minuteBgWidth:17,
			secondBgWidth:17,
			
			//Circle width
			dayCircleWidth:17,
			hourCircleWidth:17,
			minuteCircleWidth:17,
			secondCircleWidth:17,
			
			//Circle color
			dayCircleColor:"#ff6565",
			hourCircleColor:"#378cff",
			minuteCircleColor:"#9cdb7d",
			secondCircleColor:"#ffdc50",
			
			//Counter font size
			dayCounterFontSize:48,
			hourCounterFontSize:48,
			minuteCounterFontSize:48,
			secondCounterFontSize:48,
			
			//Text font size
			dayTextFontSize:12,
			hourTextFontSize:12,
			minuteTextFontSize:12,
			secondTextFontSize:12,
			
			//Counter font color
			dayCounterFontColor:"#fff",
			hourCounterFontColor:"#fff",
			minuteCounterFontColor:"#fff",
			secondCounterFontColor:"#fff",
			
			//Text font color
			dayTextFontColor:"#ff6565",
			hourTextFontColor:"#378cff",
			minuteTextFontColor:"#9cdb7d",
			secondTextFontColor:"#ffdc50"
		});
	});
</script>

<!-- Preview -->
<div class="dark-wrapper multicolor"
	style="position: fixed; height: 100%; width: 100%">
	<div class="inner clearfix">
		
		<!--
		############################################
		    - Circular Countdown jQuery Plugin -
		############################################
		-->
        <div class="countdown"></div>					
	</div>
	<div style="text-align: center;"><h2>Menuju Jomblo Perak<h2></div>
</div>