.circular-countdown {
  * {
    margin: 0;
    padding: 0;
  }
  .time {
    position: relative;
    float: left;
  }
  canvas {
    &.bg {
      position: absolute;
      z-index: 1;
    }
    &.circle {
      position: relative;
      z-index: 2;
    }
  }
  .count {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    text-align: center;
    color: #333;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }
  .text {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    text-align: center;
    color: #5f5f5f;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
