@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

*:focus {
  outline: 0;
}

html {
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font: normal 100% Tahoma,Arial,Sans-Serif;
  color: #333;
  background: #FFF;
  width: 100%;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}

.clear {
  clear: both;
}

.gray-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 2px;
  z-index: 200;
  background-color: #6a6a6a;
}

.pink-border {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 2px;
  z-index: 200;
  background-color: #e8065c;
}

header {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  .container {
    clear: both;
    height: 50px;
    width: 100%;
    padding: 20px;
  }
  .logo {
    float: left;
    width: 338px;
    height: 33px;
    margin-top: 10px;
  }
  nav {
    float: right;
    padding-top: 17px;
    ul {
      display: block;
      li {
        float: left;
        left: 0;
        display: block;
        position: relative;
        cursor: pointer;
        list-style: none;
        font-family: "Open Sans",sans-serif;
        font-size: 15px;
        font-weight: 800;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        a {
          height: 100%;
          padding: 0px 10px;
          display: block;
          text-align: center;
          cursor: pointer;
          color: #c0c0c0;
        }
        &:last-child a {
          padding-right: 0;
        }
        a {
          -moz-transition: color 0.2s linear;
          -o-transition: color 0.2s linear;
          -ms-transition: color 0.2s linear;
          -webkit-transition: color 0.2s linear;
          transition: color 0.2s linear;
        }
        &.active a, a:hover {
          color: #e8065c;
        }
      }
    }
  }
}

.dark-wrapper {
  background: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.light-wrapper {
  background: #fff;
}

.show {
  @include clearfix;
  height: 100%;
  width: 1100px;
  margin: 0 auto;

  h2 {
    color: #4d4d4d;
    text-align: center
  }

  .left-container {
    max-width: 300px;
    width: 300px;
    padding: 0px 10px;
    display:table-cell;
  }

  .right-container {
    display:table-cell;
    width: 100%;
    vertical-align: top;
    padding: 10px 15px 15px 0px;

    .header {
      height: 350px;
      max-height: 350px;
      margin-bottom: 20px;
      position: relative;

      .profile {
        display: table-cell;
        width: 240px;
        background-color: #404040;
        vertical-align: top;
        text-align: center;
        padding: 20px;
        height: 350px;
        position: relative;

        .middle {
          margin: 0 auto;
        }

        .user-name {
          margin-top: 10px;
          color: white;
        }

        .recommend-container {
          position: absolute;
          bottom: 20px;
          width: 200px;
        }

        .profile-picture {
          img {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            @include border-radius(60px);
          }
        }
      }

      .cover-photo {
        display: table-cell;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        width: auto;
        overflow: hidden;
        z-index: -1;

        img {
          width: 690px;
          height: auto;
        }
      }
    }

    .content {
      .content-card {
        @include border-radius(3px);
        margin-top: 20px;
        width: inherit;
        background-color: #dfdfdf;
        padding: 10px;
        position: relative;

        .content {
          position: relative;
          min-height: 150px;

          .content-bottom {
            position: absolute;
            bottom: 0px;
            left: 0px;

            a {
              margin-right: 7px;
            }
          }
        }

        .small-profile-picture {
          display: table-cell;

          img {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            @include border-radius(45px);
          }
        }

        .right-content-top {
          padding-left: 10px;
          display: table-cell;
          vertical-align: top;
          color: #333;
          text-align: justified;

          h3 {
            font-weight: 600;
          }
        }

        .vote {
          display: table-cell;

          width: 60px;
        }
      }
    }

    .comments-container {
      margin-top: 10px;

      .comment-card {
        padding-top: 10px;
        border-top: 1px solid #e9e9e9;

        .comment-profile-picture {
          display: table-cell;

          img {
            width: 30px;
            height: 30px;
            @include border-radius(15px);
          }
        }

        .comment {
          display: table-cell;
          word-break: break-all;
          vertical-align: top;
          padding-left: 10px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;

          .comment-author {
            font-weight: 600;
          }
        }
      }

      .comment-composer {
        margin-top: 10px;

        textarea {
          width: 100%;
          min-height: 30px;
          overflow: auto;
        }
      }
    }
  }
}

.modal {
  .name {
    width: 100%;
  }

  .description {
    width: 100%;
    height: 80px;
    margin-top: 15px;
  }
}

.dark-wrapper {
  &.pink .left-container {
    width: 720px;
  }
  &.blue {
    background: #68bdda;
    border-top: 1px solid #3fa6c3;
    border-bottom: 1px solid #3fa6c3;
    .left-container {
      width: 544px;
    }
    .time {
      .count, .text {
        -moz-text-shadow: 0px 1px rgba(63, 166, 195, 0.8);
        text-shadow: 0px 1px rgba(63, 166, 195, 0.8);
      }
    }
  }
  &.multicolor {
    background: black url(/images/countdown/bg-multicolor-wrapper.png);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .left-container {
      width: 872px;
    }
    .time {
      background: transparent url(/images/countdown/bg-multicolor-circle.png) no-repeat top left;
      canvas.bg {
        display: none;
      }
    }
  }
  &.multisize {
    background: #f2f0f0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    .left-container {
      width: 400px;
    }
    .second {
      background: transparent url(/images/countdown/bg-multisize-circle.png) no-repeat top left;
      canvas.bg {
        display: none;
      }
    }
  }
}

// FB stuff
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}

h2 {
  clear: both;
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 25px;
  color: #e8065c;
}

.one_third {
  width: 32%;
  margin-right: 2%;
  float: left;
  &.last {
    margin-right: 0;
  }
  ul li {
    background: url(/images/countdown/tick.gif) no-repeat 0px 4px;
    padding-left: 45px;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding-left: 20px;
    color: #333;
    margin-bottom: 10px;
    b {
      font-size: 13px;
      font-weight: bold;
      color: #333;
      line-height: 15px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  header {
    .container {
      height: 70px;
    }
    .logo {
      clear: both;
      img {
        width: 250px;
      }
    }
    nav {
      float: none;
      clear: both;
      padding-top: 5px;
      ul li {
        font-size: 12px;
        line-height: 14px;
        a {
          padding: 0px 6px;
        }
        &:first-child a {
          padding-left: 0;
        }
      }
    }
  }
  .one_third {
    float: none;
    clear: both;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .left-container {
    padding: 30px 20px;
  }
  h2 {
    font-size: 22px;
    line-height: 22px;
  }
  .dark-wrapper {
    &.pink .left-container {
      width: 360px;
    }
    &.blue .left-container {
      width: 272px;
    }
    &.multicolor .left-container {
      width: 436px;
    }
    &.multisize .left-container {
      width: 228px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .left-container {
    padding: 20px;
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .dark-wrapper {
    &.pink .left-container {
      width: 180px;
    }
    &.multisize .left-container {
      width: 142px;
    }
  }
}
