@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

body {
  width: 100%;
}

.add-user {
  h1 {
    font-size: 50px;
  }

  .content {
    margin: auto auto;
    width: 100%;

    label {
      margin-top: 15px;
      margin-left: 10px;
    }

    input {
      width: 285px;
      display: block;
      margin: auto;
    }
  }

  button {
    margin-top: 10px;
    margin-left: 10px;
  }
}
