@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: 850px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


.add-user {
    h1 {
        margin-top: 50px;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        color: #888;
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
    }

    .content {
        width: 350px;
        margin: 45px auto 25px auto;

        input {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
            padding: 5px;
            width: 350px;
        }
    }

    button {
        padding: 5px 10px;
        background: #eee;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 12px;
        font-family: "Helvetica Neue";  
        color: inherit;
    }

    .name-div {
      position: relative;
    }
}

.friend {
  @include clearfix;

  img {
    float: left;
    width: 32px;
    height: 32px;
    @include border-radius(16px);
  }

  h3 {
    float: left;
    margin: 3px 0px 0px 5px;
    font-size: 20px;
  }
}

.ui-datepicker-header { 
  background: #888 !important;
  border: 1px solid #ccc !important;
}

.ui-state-hover {
  color: #ccc !important;
}

.ui-state-highlight {
  background-color: #9cc1e4 !important;
  border: 0px !important;
}

.ui-state-default {
  color: #4d4d4d !important;
}
