/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/countdown_preview.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

/* line 12, ../../sass/countdown_preview.scss */
*:focus {
  outline: 0;
}

/* line 16, ../../sass/countdown_preview.scss */
html {
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 22, ../../sass/countdown_preview.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../sass/countdown_preview.scss */
a {
  text-decoration: none;
}

/* line 30, ../../sass/countdown_preview.scss */
body {
  font: normal 100% Tahoma, Arial, Sans-Serif;
  color: #333;
  background: #FFF;
  width: 100%;
}

/* line 37, ../../sass/countdown_preview.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}

/* line 46, ../../sass/countdown_preview.scss */
.clear {
  clear: both;
}

/* line 50, ../../sass/countdown_preview.scss */
.gray-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 2px;
  z-index: 200;
  background-color: #6a6a6a;
}

/* line 60, ../../sass/countdown_preview.scss */
.pink-border {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 2px;
  z-index: 200;
  background-color: #e8065c;
}

/* line 70, ../../sass/countdown_preview.scss */
header {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
}
/* line 75, ../../sass/countdown_preview.scss */
header .container {
  clear: both;
  height: 50px;
  width: 100%;
  padding: 20px;
}
/* line 81, ../../sass/countdown_preview.scss */
header .logo {
  float: left;
  width: 338px;
  height: 33px;
  margin-top: 10px;
}
/* line 87, ../../sass/countdown_preview.scss */
header nav {
  float: right;
  padding-top: 17px;
}
/* line 90, ../../sass/countdown_preview.scss */
header nav ul {
  display: block;
}
/* line 92, ../../sass/countdown_preview.scss */
header nav ul li {
  float: left;
  left: 0;
  display: block;
  position: relative;
  cursor: pointer;
  list-style: none;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
/* line 105, ../../sass/countdown_preview.scss */
header nav ul li a {
  height: 100%;
  padding: 0px 10px;
  display: block;
  text-align: center;
  cursor: pointer;
  color: #c0c0c0;
}
/* line 113, ../../sass/countdown_preview.scss */
header nav ul li:last-child a {
  padding-right: 0;
}
/* line 116, ../../sass/countdown_preview.scss */
header nav ul li a {
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
/* line 123, ../../sass/countdown_preview.scss */
header nav ul li.active a, header nav ul li a:hover {
  color: #e8065c;
}

/* line 131, ../../sass/countdown_preview.scss */
.dark-wrapper {
  background: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

/* line 137, ../../sass/countdown_preview.scss */
.light-wrapper {
  background: #fff;
}

/* line 141, ../../sass/countdown_preview.scss */
.show {
  overflow: hidden;
  *zoom: 1;
  height: 100%;
  width: 1100px;
  margin: 0 auto;
}
/* line 147, ../../sass/countdown_preview.scss */
.show h2 {
  color: #4d4d4d;
  text-align: center;
}
/* line 152, ../../sass/countdown_preview.scss */
.show .left-container {
  max-width: 300px;
  width: 300px;
  padding: 0px 10px;
  display: table-cell;
}
/* line 159, ../../sass/countdown_preview.scss */
.show .right-container {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  padding: 10px 15px 15px 0px;
}
/* line 165, ../../sass/countdown_preview.scss */
.show .right-container .header {
  height: 350px;
  max-height: 350px;
  margin-bottom: 20px;
  position: relative;
}
/* line 171, ../../sass/countdown_preview.scss */
.show .right-container .header .profile {
  display: table-cell;
  width: 240px;
  background-color: #404040;
  vertical-align: top;
  text-align: center;
  padding: 20px;
  height: 350px;
  position: relative;
}
/* line 181, ../../sass/countdown_preview.scss */
.show .right-container .header .profile .middle {
  margin: 0 auto;
}
/* line 185, ../../sass/countdown_preview.scss */
.show .right-container .header .profile .user-name {
  margin-top: 10px;
  color: white;
}
/* line 190, ../../sass/countdown_preview.scss */
.show .right-container .header .profile .recommend-container {
  position: absolute;
  bottom: 20px;
  width: 200px;
}
/* line 197, ../../sass/countdown_preview.scss */
.show .right-container .header .profile .profile-picture img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
/* line 206, ../../sass/countdown_preview.scss */
.show .right-container .header .cover-photo {
  display: table-cell;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: auto;
  overflow: hidden;
  z-index: -1;
}
/* line 216, ../../sass/countdown_preview.scss */
.show .right-container .header .cover-photo img {
  width: 690px;
  height: auto;
}
/* line 224, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  width: inherit;
  background-color: #dfdfdf;
  padding: 10px;
  position: relative;
}
/* line 232, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .content {
  position: relative;
  min-height: 150px;
}
/* line 236, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .content .content-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 241, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .content .content-bottom a {
  margin-right: 7px;
}
/* line 247, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .small-profile-picture {
  display: table-cell;
}
/* line 250, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .small-profile-picture img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}
/* line 258, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .right-content-top {
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
  color: #333;
  text-align: justified;
}
/* line 265, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .right-content-top h3 {
  font-weight: 600;
}
/* line 270, ../../sass/countdown_preview.scss */
.show .right-container .content .content-card .vote {
  display: table-cell;
  width: 60px;
}
/* line 278, ../../sass/countdown_preview.scss */
.show .right-container .comments-container {
  margin-top: 10px;
}
/* line 281, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-card {
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;
}
/* line 285, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-card .comment-profile-picture {
  display: table-cell;
}
/* line 288, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-card .comment-profile-picture img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 295, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-card .comment {
  display: table-cell;
  word-break: break-all;
  vertical-align: top;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
/* line 305, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-card .comment .comment-author {
  font-weight: 600;
}
/* line 311, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-composer {
  margin-top: 10px;
}
/* line 314, ../../sass/countdown_preview.scss */
.show .right-container .comments-container .comment-composer textarea {
  width: 100%;
  min-height: 30px;
  overflow: auto;
}

/* line 325, ../../sass/countdown_preview.scss */
.modal .name {
  width: 100%;
}
/* line 329, ../../sass/countdown_preview.scss */
.modal .description {
  width: 100%;
  height: 80px;
  margin-top: 15px;
}

/* line 337, ../../sass/countdown_preview.scss */
.dark-wrapper.pink .left-container {
  width: 720px;
}
/* line 340, ../../sass/countdown_preview.scss */
.dark-wrapper.blue {
  background: #68bdda;
  border-top: 1px solid #3fa6c3;
  border-bottom: 1px solid #3fa6c3;
}
/* line 344, ../../sass/countdown_preview.scss */
.dark-wrapper.blue .left-container {
  width: 544px;
}
/* line 348, ../../sass/countdown_preview.scss */
.dark-wrapper.blue .time .count, .dark-wrapper.blue .time .text {
  -moz-text-shadow: 0px 1px rgba(63, 166, 195, 0.8);
  text-shadow: 0px 1px rgba(63, 166, 195, 0.8);
}
/* line 354, ../../sass/countdown_preview.scss */
.dark-wrapper.multicolor {
  background: black url(/images/countdown/bg-multicolor-wrapper.png);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* line 358, ../../sass/countdown_preview.scss */
.dark-wrapper.multicolor .left-container {
  width: 872px;
}
/* line 361, ../../sass/countdown_preview.scss */
.dark-wrapper.multicolor .time {
  background: transparent url(/images/countdown/bg-multicolor-circle.png) no-repeat top left;
}
/* line 363, ../../sass/countdown_preview.scss */
.dark-wrapper.multicolor .time canvas.bg {
  display: none;
}
/* line 368, ../../sass/countdown_preview.scss */
.dark-wrapper.multisize {
  background: #f2f0f0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
/* line 372, ../../sass/countdown_preview.scss */
.dark-wrapper.multisize .left-container {
  width: 400px;
}
/* line 375, ../../sass/countdown_preview.scss */
.dark-wrapper.multisize .second {
  background: transparent url(/images/countdown/bg-multisize-circle.png) no-repeat top left;
}
/* line 377, ../../sass/countdown_preview.scss */
.dark-wrapper.multisize .second canvas.bg {
  display: none;
}

/* line 385, ../../sass/countdown_preview.scss */
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}

/* line 389, ../../sass/countdown_preview.scss */
h2 {
  clear: both;
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 25px;
  color: #e8065c;
}

/* line 399, ../../sass/countdown_preview.scss */
.one_third {
  width: 32%;
  margin-right: 2%;
  float: left;
}
/* line 403, ../../sass/countdown_preview.scss */
.one_third.last {
  margin-right: 0;
}
/* line 406, ../../sass/countdown_preview.scss */
.one_third ul li {
  background: url(/images/countdown/tick.gif) no-repeat 0px 4px;
  padding-left: 45px;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  line-height: 15px;
  padding-left: 20px;
  color: #333;
  margin-bottom: 10px;
}
/* line 415, ../../sass/countdown_preview.scss */
.one_third ul li b {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  line-height: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 426, ../../sass/countdown_preview.scss */
  header .container {
    height: 70px;
  }
  /* line 429, ../../sass/countdown_preview.scss */
  header .logo {
    clear: both;
  }
  /* line 431, ../../sass/countdown_preview.scss */
  header .logo img {
    width: 250px;
  }
  /* line 435, ../../sass/countdown_preview.scss */
  header nav {
    float: none;
    clear: both;
    padding-top: 5px;
  }
  /* line 439, ../../sass/countdown_preview.scss */
  header nav ul li {
    font-size: 12px;
    line-height: 14px;
  }
  /* line 442, ../../sass/countdown_preview.scss */
  header nav ul li a {
    padding: 0px 6px;
  }
  /* line 445, ../../sass/countdown_preview.scss */
  header nav ul li:first-child a {
    padding-left: 0;
  }

  /* line 451, ../../sass/countdown_preview.scss */
  .one_third {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 459, ../../sass/countdown_preview.scss */
  .left-container {
    padding: 30px 20px;
  }

  /* line 462, ../../sass/countdown_preview.scss */
  h2 {
    font-size: 22px;
    line-height: 22px;
  }

  /* line 467, ../../sass/countdown_preview.scss */
  .dark-wrapper.pink .left-container {
    width: 360px;
  }
  /* line 470, ../../sass/countdown_preview.scss */
  .dark-wrapper.blue .left-container {
    width: 272px;
  }
  /* line 473, ../../sass/countdown_preview.scss */
  .dark-wrapper.multicolor .left-container {
    width: 436px;
  }
  /* line 476, ../../sass/countdown_preview.scss */
  .dark-wrapper.multisize .left-container {
    width: 228px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  /* line 483, ../../sass/countdown_preview.scss */
  .left-container {
    padding: 20px;
  }

  /* line 486, ../../sass/countdown_preview.scss */
  h2 {
    font-size: 20px;
    line-height: 20px;
  }

  /* line 491, ../../sass/countdown_preview.scss */
  .dark-wrapper.pink .left-container {
    width: 180px;
  }
  /* line 494, ../../sass/countdown_preview.scss */
  .dark-wrapper.multisize .left-container {
    width: 142px;
  }
}
