/* line 2, ../../sass/countdown_circular.scss */
.circular-countdown * {
  margin: 0;
  padding: 0;
}
/* line 6, ../../sass/countdown_circular.scss */
.circular-countdown .time {
  position: relative;
  float: left;
}
/* line 11, ../../sass/countdown_circular.scss */
.circular-countdown canvas.bg {
  position: absolute;
  z-index: 1;
}
/* line 15, ../../sass/countdown_circular.scss */
.circular-countdown canvas.circle {
  position: relative;
  z-index: 2;
}
/* line 20, ../../sass/countdown_circular.scss */
.circular-countdown .count {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  text-align: center;
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}
/* line 32, ../../sass/countdown_circular.scss */
.circular-countdown .text {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  text-align: center;
  color: #5f5f5f;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
