/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/styles.scss */
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  width: 850px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 20, ../../sass/styles.scss */
.add-user h1 {
  margin-top: 50px;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #888;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
/* line 33, ../../sass/styles.scss */
.add-user .content {
  width: 350px;
  margin: 45px auto 25px auto;
}
/* line 37, ../../sass/styles.scss */
.add-user .content input {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 5px;
  width: 350px;
}
/* line 46, ../../sass/styles.scss */
.add-user button {
  padding: 5px 10px;
  background: #eee;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 12px;
  font-family: "Helvetica Neue";
  color: inherit;
}
/* line 57, ../../sass/styles.scss */
.add-user .name-div {
  position: relative;
}

/* line 62, ../../sass/styles.scss */
.friend {
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../../sass/styles.scss */
.friend img {
  float: left;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
/* line 72, ../../sass/styles.scss */
.friend h3 {
  float: left;
  margin: 3px 0px 0px 5px;
  font-size: 20px;
}

/* line 79, ../../sass/styles.scss */
.ui-datepicker-header {
  background: #888888 !important;
  border: 1px solid #cccccc !important;
}

/* line 84, ../../sass/styles.scss */
.ui-state-hover {
  color: #cccccc !important;
}

/* line 88, ../../sass/styles.scss */
.ui-state-highlight {
  background-color: #9cc1e4 !important;
  border: 0px !important;
}

/* line 93, ../../sass/styles.scss */
.ui-state-default {
  color: #4d4d4d !important;
}
